*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*::after, *::before{
    box-sizing: inherit;
}
body,html{
    width: 100%;
    height: 100vh;
}
.calendar-screen{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
}
.rbc-calendar{
    width: 100%;
    padding: 1.5rem;
    height: 100%;
    align-self: center;
    color: #444;
}   
.rbc-today{
    background-color: #fff4d7;
}

@media screen and (max-width: 500px) {
    .rbc-calendar{
        padding: 0rem;
        padding-top: 1rem;
    } 
}